@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
*{ 
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-weight: 250;
    color: rgb(83,53,8);
    background-color: rgb(255,228,196, .7);
    font-family: open-sans, sans-serif;
}

/*headings */

h1,h2 {
    text-transform: uppercase;
    letter-spacing: 5px;
    color: rgb(83, 53, 8);
}

/* Header */

header {
    background-color: blanchedalmond;
    border-bottom: solid 3px #3b4b2b;
}

#logo {
    padding: 10px 0px 0px 15px;
    text-decoration: underline;
}

header a {
    text-decoration: none;
}

#header-description {
    color: rgb(83, 53, 8);
    padding: 10px 15px;
}

#menu {
    font-size: 115%;
    letter-spacing: 2px;
}

#menu, #logo #header-description {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 25px;
    padding-top: 20px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: solid 1px rgb(83, 53, 8);
}

.active {
    border-bottom: solid 1px rgb(83, 53, 8);
}

/*Highlights*/


#right-highlight-heading {
    margin-left:60%;
    margin-right: 5%;
    padding-bottom: 8px;
}

#left-highlight-heading {
    float: left;
    margin-left: 5%;
    padding-bottom: 8px;
}

#content-header {
    text-align: center;
    margin: 15px 0px;
    font-size: 240%;
}

#highlights {
    height: 450px;
}

#blog-highlight, #bean-highlight {
    border: 4px solid #3b4b2b;
    width: 40%;
    height: 225px;
    line-height: normal;
    padding: 8px;
    background-color: bisque;
}

#blog-highlight {
    float: left;
    margin-left: 2%;
}

#blog-highlight h6 {
    padding: 8px 5px;
}

#bean-highlight {
    float: right;
    margin-right: 2%;
}

#botw-image {
    width: 30%;
    height: 60%;
    background: url('../images/Kenya.jpg') no-repeat left;
    background-size: cover;
    background-position: left;
    border: 2px solid #3b4b2b;
    margin: 3px 0 ;
}

#bean-heading {
    text-align: center;
    font-size: 150%;
}

#bean-highlight-text {
    float: right;
    width: 60%;
}

#highlight-heading {
    font-size: 150%;
}

#blog-highlight-text a {
    text-decoration: none;
}

/* Events */

#events {
    background: url('../images/events-background.jpg') ;
    width: 100%; 
    height: 500px;
    overflow: hidden;
    border: 3px solid #3b4b2b;
    padding-bottom: 20px;
    border-bottom: none;
}

#events div {
    width: 20%;
    height: 400px;
    text-align: center;
    color: rgb(27, 8, 8);
    float: left;
    background-color: rgb(255,228,196, .5);
    padding: 30px 70px;
    margin: 1.5% 2.9%;
    
}

#events div h3, #events div h4 {
    padding-bottom: 8px;
    word-spacing: 2px;
    letter-spacing: 1px;
}


/*reviews*/

#roast-reviews {
    width: 100%;
    height: 440px;
    border: 3px solid #3b4b2b;
}

#roast-reviews h1 {
    padding: 20px 0;
    text-align: center;
    font-size: 240%;
}

#roast-reviews h2 {
    padding: 15px 0;
    text-align: center;
    font-size: 160%;
}

#roast-reviews div {
    width: 20%;
    height: 310px;
    text-align: center;
    float: left;
    margin: 0 2.5%;
    border: #3b4b2b 3px solid;
    box-sizing: border-box;
}

#roast-reviews div p {
    padding: 1px 7.5%;
}

/*blogs.html styling*/

#right-blog-img {
    float: right;
    background: url(../images/right-blog-img.jpg)   left;
    height: 1830px;
    width: 25%;
    border: #3b4b2b 1px solid;
    margin: 1%;

}

/*blog1*/

#blog1 {
    width: 70%;
    height: 300px;
    float: left;
    border: #3b4b2b solid 1px;
    background-color:rgb(255,228,196, .2);
    margin: 20px .7%;
}

#blog1-img{
    width: 20%;
    height: 200px;
    background: url(../images/Kenya.jpg) no-repeat right;
    background-size: cover;
    float: right;
    border: 3px solid #3b4b2b;
    margin: 1%;
}

#blog1 h1, h5, p {
    margin: .5%;
}

/*blog2*/

#blog2 {
    width: 70%;
    height: 400px;
    float: left;
    border: #3b4b2b solid 1px;
    background-color:rgb(255,228,196, .2);
    margin: 20px .7%;
}

#blog2 h1, h5, p {
    margin: .5%;
}

#blog2 p {
    width: 50%;
}

#blog2-img{
    width: 20%;
    height: 200px;
    background: url(../images/blog2-img.jpg) no-repeat right;
    background-size: cover;
    float: right;
    border: 3px solid #3b4b2b;
    margin: 1%;
}

/* blog3*/

#blog3 {
    width: 70%;
    height: 700px;
    float: left;
    border: #3b4b2b solid 1px;
    background-color:rgb(255,228,196, .2);
    margin: 20px .7%;
}

#blog3 h1, h5, h3, p, table {
    margin: .5%;
}

#creatista-table, #creatista-pro-table, .comparison-row {
    text-align: center;
    border: 1px solid #3b4b2b;
} 

tr {
    margin: 4px 0   ;
}

td {
    width: 400px;
}

#blog3 p {
    float:right;
    text-align: center;
}

#blog3 p {
    float: right;
    width: 32.5%;
    padding-right: 10px;
}

#blog3-img{
    width: 60%;
    height: 200px;
    background: url(../images/blog3-img.jpg) no-repeat left;
    background-size: cover;
    float: left;
    border: 3px solid #3b4b2b;
    margin: 1%;
}

/*blog4*/

#blog4 {
    width: 70%;
    height: 400px;
    float: left;
    border: #3b4b2b solid 1px;
    background-color:rgb(255,228,196, .2);
    margin: 20px .7%;
}

#blog4 h1, h5, p {
    margin: .5%;
}

#blog4 p {
    width: 60%;
}

#blog4-img{
    width: 35%;
    height: 92%;
    background: url(../images/blog4-img.jpg) no-repeat right;
    background-size: cover;
    float: right;
    border: 3px solid #3b4b2b;
    margin: 1%;
}

/*events.html*/

/*background image for events.html*/

#events-page-background {
    width: 100%;
    height: 100%;
    background: url(../images/events.html-background-img.jpg) center ;
    background-size: cover;
}

/* content styling */

#events-structure {
    width: 70%;
    height: 100%;
    text-align: center;
    color: rgb(27, 8, 8);
    background-color: rgb(255,228,196, .5); 
    margin: 0 15%;
}

/* form styling*/


#events-form {
    padding: 40px;
}

form input, form label {
    padding: 10px;
}

#submit-button {
    background: #0066A2;
    color: white;
    height: 40px;
    width: 100px;
    font: bold 15px arial,sans-serif;
    cursor: pointer;
    }

#events-information {
    padding: 10%;
}

input:focus::placeholder {
    color: transparent;
    }


/*footer*/

footer {
    height: 220px;
    background-color: rgb(141, 135, 135);
    font-size: 120%;
    clear: both;
}

#social-networks li {
    display: inline;
    font-size: 150%;
    margin: 4px;
    text-decoration: none;
}

footer h4 {
    padding-left: 9px;
}


/* media queries*/

@media screen and (max-width: 1877px) {
    #events div {
        width: 12%;
        height: 650px;
        margin: 5%;
    }

    #events {
        width:80%;
        height:800px;
        margin-left: 10%;
        margin-bottom: 2%;
    }
        
}

/* media queries*/

/* media queries for logo */

@media screen and (max-width: 550px) {
    header {
        width: 100%;
        height: 220px;
    }

    #menu, #logo, #header-description {
        float: left;
    }

    #menu {
        padding: 0 0 0 15px;
    }

    
}

/* media queries for index.html */

/* For laptops and tablets 1877px and below */

@media screen and (max-width: 1877px) {
    #events div {
        width: 12%;
        height: 650px;
        margin: 5%;
    }

    #events {
        width:80%;
        height:800px;
        margin-left: 10%;
        margin-bottom: 2%;
    }
        
}

@media screen and (max-width: 1645px)  {
    #roast-reviews {
        width: 100%;
        margin: 0;
        height: 1250px;
        border: none;
    }

    #roast-reviews div {
        width: 100%;
        padding:0;
        margin: 10px 0;
        height:270px;
        clear:both;
        border-left: none;
        border-right: none;
    }

    #events div {
        width: 100%;
        clear: both;
        padding: 0;
        margin: 10px 0;
        height:200px;
    }

    #events {
        width:100%;
        margin:0;
        height:650px;
        border-left: none;
        border-right: none;
    }

    #highlights {
        height: 650px

    }
    
    #highlight-headers {
        display: none;
    }

    #highlights div {
        width: 100%;
        height: 450px;
        margin: 5px;
        padding: 0;
        border-left: none;
        border-right: none;
    }

    #botw-image {
        display: none; 
    }

    #bean-highlight-text {
        float: none;
        width: 100%;
    }
    
/* For smaller devices 575px and below */

}

@media screen and (max-width: 575px) {
    #events {
        height: 1200px
    }

    
    #events div {
        height:380px
    }
}

@media screen and (max-width: 405px) {
    #roast-reviews div {
        height: 500px;
    }

    #roast-reviews {
        height: 2250px;
    }
}

/* media queries for blogs.html */

/* For laptops and tablets */

@media screen and (max-width: 860px) {
    #right-blog-img {
        display: none;
    }

    #blog1 {
        width: 100%;
        border-right: none;
        border-left: none;
        height: 350px;
        margin: 0;
        padding: 0;
    }

    #blog2 {
        width: 100%;
        border-right: none;
        border-left: none;
        margin: 0;
        padding: 0;
    }

    #blog2 p {
        width: 70%;
    }

    #blog3 {
        width: 100%;
        margin: 0;
        padding: 0;
        border-left: none;
        border-right: none;
    }

    #blog4 {
        width: 100%;
        border-right: none;
        border-left: none;
        height: 450px;
    }
}

/* for phones and smaller screens */

@media screen and (max-width: 519px) {
    #blog1 {
        height: 450px;
    }

    #blog2 {
        height: 470px;
    }

    #blog3 {
        height: 910px;
    }

    #blog4-img {
        display:none;
    }
    

    #blog4 {
        height: 400px;
        width: 100%; 
        margin: 0;
    }

    #blog4 p {
        width: 100%;
    }
}